*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a,#3a4452);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 18px;
    background: transparent;
    box-shadow: 0 3px 15px rgba(113,115,119, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0 3px 15px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fff;
}
input::placeholder{
    color: #fff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    color: #fff;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255,255,0.1);
    font-size: 24px;
    cursor: pointer;
}

.equal{
    background-color: #fb7c14;
}
.operator{
    color: #6dee0a;
}

@media screen and (max-width: 400px){
    button{
        width: 45px;
        height: 45px;
        font-size: 15px;
    }
    input{
        width: 250px;
        font-size: 35px;
    }
}
@media screen and (max-width: 320px){
    button{
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
    input{
        width: 200px;
        font-size: 30px;
    }
}